<html>
<head>
<link rel="stylesheet" href="stile.css">
<title> Azione - Settim∀rte </title>
</head>

<body>

<div class="centrato barra">
  <div style="position: absolute; left: 0px;">
    <a href="film.html">
      <img src="i/logogiusto.jpg" style="height: 60px;"> </img>
    </a>
  </div>
  <div class="sezione dropdown">
    GENERE
    <div class="menu">
      <div> <a href="animazione.html"> Animazione </a> </div>
      <div> <a href="azione.html"> Azione     </a> </div>
      <div> <a href="avventura.html"> Avventura  </a> </div>
      <div> <a href="biografico.html"> Biografico </a> </div>
      <div> <a href="comico.html"> Comico     </a> </div>
      <div> <a href="documentario.html"> Documentario </a> </div>
      <div> <a href="drammatico.html"> Drammatico </a> </div>
      <div> <a href="fantascienza.html"> Fantascienza </a> </div>
      <div> <a href="fantasy.html"> Fantasy </a> </div>
      <div> <a href="horror.html"> Horror </a> </div>
      <div> <a href="musical.html"> Musical </a> </div>
      <div> <a href="storico.html"> Storico </a> </div>
      <div> <a href="thriller.html"> Thriller </a> </div>
    </div>
  </div>
  <div class="sezione"> <a href="piuvisti.html"> I PIÙ VISTI </a> </div>
  <div class="sezione"> <a href="oscar.html">    PREMI OSCAR </a> </div>
  <div class="sezione"> <a href="storia.html">   INFORMAZIONI </a> </div>
</div>

<div class="centrato titolo">
  Azione
</div>

<div id="filmbox">

 <div style="margin: 20px 0px; width:100%; overflow-x: scroll; white-space: nowrap;">
  <a  v-for="film in films" v-bind:href="'#'+film.name"> <img v-if="film.imgscroll" v-bind:src="'i/' + film.imgscroll" height="500"> </img> </a>
 </div>

  <div v-for="film in films" class="filmdescr-box" v-bind:id="film.name">
    <div class="filmdescr-title">
      {{ film.title }}
    </div>

    <div class="filmdescr-main">
      <div class="filmdescr-imgdiv">
        <img v-bind:src="'i/' + film.locandina"> </img>
      </div>

      <div class="filmdescr-col">
        <div class="filmdescr-text">
          {{ film.descr }}
        </div>

        <div class="filmdescr-fill"> </div>

        <div class="filmdescr-botrow">
          <div v-if="oscar" class="filmdescr-oscar">
            <div class="counter">
              <span> {{ film.oscar }} </span>
              <span> &#x1f3c6; </span>
            </div>
          </div>
  
          <div class="filmdescr-fill"> </div>

          <div class="filmdescr-trailer" v-on:click="show_trailer(film)" style="cursor: pointer;">
            Trailer
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-if="trailer.visible">
    <div v-on:click="hide_trailer()" style="background-color: black; opacity: 80%; position: fixed; top: 0; left: 0; width: 100%; height: 100%;">
    </div>
    <div style="position: fixed; top: 10%; left: 10%; width: 80%; height: 80%;">
      <div style="position: relative; background-color: black; padding-top: 56.25%; top: 0;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                v-bind:src="'https://www.youtube.com/embed/' + trailer.codice"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>

<script src="vue.js"></script>
<script>

var films = [
  { title: "Bad Boys for Life"
  , descr: "Due poliziotti di vecchia scuola, Mike Lowrey e Marcus Burnett, fanno squadra con una unità d'élite per fermare le attività di un pericoloso criminale di Miami a capo del locale cartello della droga."
  , locandina: "badboysforlife.jpg"
  , codice_youtube_trailer: "9U7iQWzXi1s"
  , name: "badboysforlife"
  , imgscroll: "badboysforlifescroll.jpg"
  },

  { title: "Baby Driver"
  , descr: "Un giovane pilota è costretto a lavorare per un boss del crimine e deve usare tutta la propria abilità quando una rapina, destinata a fallire, minaccia la sua vita e la sua libertà."
  , locandina: "babydriver.jpg"
  , codice_youtube_trailer: "oFiLrgCuFXo"
 },

{ title: "John Wick"
  , descr: "Il leggendario assassino John Wick si è allontanato dal mondo della violenza dopo aver sposato l'amore della propria vita. Quando la donna muore improvvisamente, il giovane cade nello sconforto più profondo. Il perfido criminale Iosef Tarasov decide di tormentarlo rubandogli l'automobile ed uccidendogli il cane. Per l'uomo è l'ora della vendetta."
  , locandina: "johnwick.jpg"
  , codice_youtube_trailer: "N_ZPL3hmFEo"
 },

{ title: "John Wick - Capitolo 2"
  , descr: "John Wick, sicario ormai ritiratosi, cerca di riprendere una vita civile tranquilla. Il mafioso italiano Santino D'Antonio, però, si presenta sulla sua soglia di casa, costringendolo a ripagare alcuni favori passati."
  , locandina: "johnwick2.jpg"
  , codice_youtube_trailer: "r56AeJVvuzg"
 },


{ title: "John Wick 3 - Parabellum"
  , descr: "In fuga con una taglia da 14 milioni di dollari sul capo, il celebre sicario John Wick cerca di sopravvivere dopo aver perso la protezione del Sindacato degli Assassini per aver commesso un delitto tra le mura dell'Hotel Continental di New York."
  , locandina: "johnwick3.jpg"
  , codice_youtube_trailer: "8X8vvFzVbHM"
  , name: "johnwick3"
  , imgscroll: "johnwickscroll.jpg"
 },

{ title: "No Time to Die"
  , descr: "Dopo aver lasciato i servizi segreti, Bond si gode una vita tranquilla in Giamaica. Tuttavia, la pace conquistata si rivela di breve durata quando il suo vecchio amico Felix Leiter gli chiede aiuto."
  , locandina: "notimetodie.jpg"
  , codice_youtube_trailer: "_BvD0n8cch8"
 },

{ title: "Fast and Furious"
  , descr: "Per indagare su una serie di furti, il poliziotto Brian O'Connor diventa un infiltrato sotto copertura nel mondo delle corse clandestine di Los Angeles. Mentre cerca di guadagnarsi la fiducia del capo, l'uomo rischia di essere smascherato."
  , locandina: "fef.jpg"
  , codice_youtube_trailer: "2TAOizOnNPo"
 },

{ title: "2 Fast 2 Furious"
  , descr: "L'agente O'Conner, privato del suo distintivo, viene reclutato dall'FBI per infiltrarsi in un giro clandestino di corsa automobilistiche a Miami e smantellare un'organizzazione criminale."
  , locandina: "fef2.jpg"
  , codice_youtube_trailer: "F_VIM03DXWI"
 },

{ title: "The Fast and the Furious: Tokyo Drifts"
  , descr: "Shaun Boswell è un ragazzo irrequieto al quale piace partecipare alle corse di auto clandestine. Finito nei guai con la giustizia, è costretto, per evitare la prigione, a raggiungere suo padre che è militare in servizio a Tokyo."
  , locandina: "fef3.jpg"
  , codice_youtube_trailer: "mgb-T6PvuvY&t=2s"
 },

{ title: "Fast and Furious - Solo parti originali"
  , descr: "Vin Diesel e Paul Walker tornano a recitare insieme nel quarto capitolo della saga: Brian deve collaborare con l'FBI per incastrare un trafficante con la passione per le corse."
  , locandina: "fef4.jpg"
  , codice_youtube_trailer: "tuCh8TIqbWo"
 },

{ title: "Fast and Furious 5"
  , descr: "A Rio de Janeiro, l'ex truffatore Dom Torretto e l'ex agente di polizia Brian O' Conner uniscono le proprie forze per affrontare un ricco uomo d'affari che li vuole entrambi morti."
  , locandina: "fef5.jpg"
  , codice_youtube_trailer: "UdMnVVHV-rM"
 },

{ title: "Fast and Furious 6"
  , descr: "L'agente Hobbs è all'inseguimento di un'organizzazione criminale composta da esperti piloti mercenari. Per incastrarli chiederà alla squadra di Dom, in perenne fuga dopo aver messo a segno un colpo milionario, di batterli sulla strada."
  , locandina: "fef6.jpg"
  , codice_youtube_trailer: "kaNZcyNHims"
 },

{ title: "Fast and Furious 7"
  , descr: "Deckard Shaw, fratello di Owen ridotto in fin di vita da Dominic Toretto e dalla sua banda, è pronto a scatenare la sua sete di vendetta, avvalendosi delle tecniche di guerra apprese lavorando per i servizi segreti britannici. La situazione sembra disperata finchè la CIA non si offre di aiutare l'uomo ed i suoi, a condizione che questi recuperino Ramsey."
  , locandina: "fef7.jpg"
  , codice_youtube_trailer: "JZNmeWqb9rI"
 },


{ title: "Fast and Furious 8"
  , descr: "I membri del gruppo sono messi a dura prova quando una misteriosa donna irretisce Dom per convincerlo a intraprendere nuovamente la strada del crimine e a tradire coloro che gli sono più cari."
  , locandina: "fef8.jpg"
  , codice_youtube_trailer: "U55vd5nP5ZU"
  ,name: "fef"
  ,imgscroll: "fefscroll.jpg"
 },






];

var vueapp = new Vue({
  el: "#filmbox",
  data: {
    films: films,
    trailer: { visible: false, codice: "" },
    oscar:false
  },
  methods: {
    show_trailer: function (f) {
      this.trailer.visible = true;
      this.trailer.codice = f.codice_youtube_trailer;
    },
    hide_trailer: function () { this.trailer.visible = false; }
  }
});

</script>
</body>
</html>
