<html>
<head>
<link rel="stylesheet" href="stile.css">
<title> Fantasy - Settim∀rte </title>
</head>

<body>

<div class="centrato barra">
  <div style="position: absolute; left: 0px;">
    <a href="film.html">
      <img src="i/logogiusto.jpg" style="height: 60px;"> </img>
    </a>
  </div>
  <div class="sezione dropdown">
    GENERE
    <div class="menu">
      <div> <a href="animazione.html"> Animazione </a> </div>
      <div> <a href="azione.html"> Azione     </a> </div>
      <div> <a href="avventura.html"> Avventura  </a> </div>
      <div> <a href="biografico.html"> Biografico </a> </div>
      <div> <a href="comico.html"> Comico     </a> </div>
      <div> <a href="documentario.html"> Documentario </a> </div>
      <div> <a href="drammatico.html"> Drammatico </a> </div>
      <div> <a href="fantascienza.html"> Fantascienza </a> </div>
      <div> <a href="fantasy.html"> Fantasy </a> </div>
      <div> <a href="horror.html"> Horror </a> </div>
      <div> <a href="musical.html"> Musical </a> </div>
      <div> <a href="storico.html"> Storico </a> </div>
      <div> <a href="thriller.html"> Thriller </a> </div>
    </div>
  </div>
  <div class="sezione"> <a href="piuvisti.html"> I PIÙ VISTI </a> </div>
  <div class="sezione"> <a href="oscar.html">    PREMI OSCAR </a> </div>
  <div class="sezione"> <a href="storia.html">   INFORMAZIONI </a> </div>
</div>

<div class="centrato titolo">
  Fantasy
</div>

<div id="filmbox">

 <div style="margin: 20px 0px; width:100%; overflow-x: scroll; white-space: nowrap;">
  <a  v-for="film in films" v-bind:href="'#'+film.name"> <img v-if="film.imgscroll" v-bind:src="'i/' + film.imgscroll" height="500"> </img> </a>
 </div>

  <div v-for="film in films" class="filmdescr-box" v-bind:id="film.name">
    <div class="filmdescr-title">
      {{ film.title }}
    </div>

    <div class="filmdescr-main">
      <div class="filmdescr-imgdiv">
        <img v-bind:src="'i/' + film.locandina"> </img>
      </div>

      <div class="filmdescr-col">
        <div class="filmdescr-text">
          {{ film.descr }}
        </div>

        <div class="filmdescr-fill"> </div>

        <div class="filmdescr-botrow">
          <div v-if="oscar" class="filmdescr-oscar">
            <div class="counter">
              <span> {{ film.oscar }} </span>
              <span> &#x1f3c6; </span>
            </div>
          </div>
  
          <div class="filmdescr-fill"> </div>

          <div class="filmdescr-trailer" v-on:click="show_trailer(film)" style="cursor: pointer;">
            Trailer
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-if="trailer.visible">
    <div v-on:click="hide_trailer()" style="background-color: black; opacity: 80%; position: fixed; top: 0; left: 0; width: 100%; height: 100%;">
    </div>
    <div style="position: fixed; top: 10%; left: 10%; width: 80%; height: 80%;">
      <div style="position: relative; background-color: black; padding-top: 56.25%; top: 0;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                v-bind:src="'https://www.youtube.com/embed/' + trailer.codice"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>

<script src="vue.js"></script>
<script>

var films = [
  { title: "Alice in Wonderland"
  , descr: "Alice è una diciassettenne che rifiuta un matrimonio combinato, così fugge dalla festa dove avrebbe dovuto essere presentata in società e si trova in un mondo popolato da creature fantastiche."
  , locandina: "aliceinwonderland.jpg"
  , codice_youtube_trailer: "u5kn6k9spJs"
  },

 { title: "Alice Attraverso lo Specchio"
  , descr: "Dopo aver fatto ritorno nel Sottomondo, Alice riceve una missione dalla Regina Bianca: tornare indietro nel tempo per salvare la famiglia del Cappellaio Matto."
  , locandina: "alicespecchio.jpg"
  , codice_youtube_trailer: "k2oDnZPf8-8"
  , name: "alice"
  , imgscroll: "alicescroll.jpg"
  },


 { title: "The Avengers"
  , descr: "I leggendari supereroi Iron Man, Hulk, Thor, Capitan America, Occhio di Falco e la Vedova Nera vengono reclutati da un'agenzia governativa segreta per combattere un nemico inatteso che minaccia la sicurezza della Terra."
  , locandina: "avengers.jpg"
  , codice_youtube_trailer: "eOrNdBpGMv8"
  , name: "avengers"
  },

 { title: "Avatar"
  , descr: "L'ex marine Jake Sully è stato reclutato per una missione sul pianeta Pandora con lo scopo di recuperare risorse naturali in esaurimento sulla Terra. Inaspettatamente si ritrova a voler proteggere il mondo magico al quale si sente stranamente legato."
  , locandina: "avatar.jpg"
  , codice_youtube_trailer: "xtBRS6KKhMs"
  , name: "avatar"
  , imgscroll: "avatarscroll.png"
  },


];

var vueapp = new Vue({
  el: "#filmbox",
  data: {
    films: films,
    trailer: { visible: false, codice: "" },
    oscar:false
  },
  methods: {
    show_trailer: function (f) {
      this.trailer.visible = true;
      this.trailer.codice = f.codice_youtube_trailer;
    },
    hide_trailer: function () { this.trailer.visible = false; }
  }
});

</script>
</body>
</html>
